body {
  font-family: Arial, sans-serif;
  display: flex;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
}

header.dark-mode {
  background-color: #444;
}

.sidebar {
  padding: 15px;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;
}

.sidebar a:hover {
  background-color: #ddd;
}

.sidebar a.dark-mode {
  color: #fff;
}

.sidebar a.dark-mode:hover {
  background-color: #555;
}

.content {
  margin-left: 200px; /* Adiciona espaço para a barra lateral */
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  flex-grow: 1;
}

.user-section, .login-section, .section, .large-section {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 300px; 
  max-height: 200px; 
  min-width: 200px; 
  min-height: 100px; 
  overflow: auto; 
}
.user-section{
  position: relative;
}
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
